div{
    background-color: rgb(223, 74, 223);
    width: 100;
    height: 200px;
}
p{
background-color:rgb(108, 131, 108);
width:100;
height: 200;
font-family: fantasy;
font-weight: bold;
}
.demo{
background-color: white;
width: 50%;
height:100px ;
}
#id1
{
    color: aqua;
}